<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}FPL Updates & Tips!{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/animate.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/font.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/li-scroller.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/jquery.fancybox.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/article/assets/css/style.css') }}">
        <style>
            /* Facebook */
            .fa-facebook {
                background: #3B5998;
                color: white;
                padding: 20px;
                font-size: 30px;
                width: 70px;
                text-align: center;
                text-decoration: none;
            }

            /* Twitter */
            .fa-twitter {
                background: #55ACEE;
                color: white;
                padding: 20px;
                font-size: 30px;
                width: 70px;
                text-align: center;
                text-decoration: none;
            }

            .fa-youtube {
                background: #bb0000;
                color: white;
                padding: 20px;
                font-size: 30px;
                width: 70px;
                text-align: center;
                text-decoration: none;
            }

            .fa-instagram {
                background: #125688;
                color: white;
                padding: 20px;
                font-size: 30px;
                width: 70px;
                text-align: center;
                text-decoration: none;
            }


            .button33 {
                background-color: white;
                color: black;
                border: 2px solid #f44336;
                width: 40%;
                height: 50px;
            }
        </style>
    {% endblock %}
    <!--[if lt IE 9]>
    {% block javascriptshead %}
    <script src="{{ asset('bundles/article/assets/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('bundles/article/assets/js/respond.min.js') }}"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-104802600-1', 'auto');
        ga('send', 'pageview');

    </script>
    {% endblock %}
    <![endif]-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3916336310288272",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
{% block body %}
    {% block news %}
        {% set index = 0 %}
        {% for new in news if index <= 6 %}
            <li>
                <a href="#"> {#<img
                            src="{{ asset('bundles/article/newlogos/JXQESMU.png') }}"
                            alt="">#}
                    {{ new.latestNews }}</a>
            </li>
            {% set index = index + 1 %}
        {% endfor %}
    {% endblock %}
    {% block login %}

        <div class="header_top_right">
            {#  <p>  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                     {{ app.user.firstname }} |
                      <a style="color: white;" href="{{ path('fos_user_security_logout') }}">
                          {{ 'logout'|trans({}, 'FOSUserBundle') }}
                      </a>
                  {% else %}
                      <a style="color: white;"
                         href="{{ path('fos_user_security_login') }}">{{ 'login'|trans({}, 'FOSUserBundle') }}</a>
                  {% endif %}
              </p>
              #}
        </div>
    {% endblock %}
    {% block dropmenu %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-expanded="false">FPL Updates & Tips Exclusive </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('article_homepage',{'categorie':1}) }}">Captain Choice</a></li>
            <li><a href="{{ path('article_homepage',{'categorie':2}) }}">TOP 4 Players To Watch</a>
            </li>
            <li><a href="{{ path('article_homepage',{'categorie':3}) }}">TOP 3 Differentials</a>
            </li>
            <li><a href="{{ path('article_homepage',{'categorie':4}) }}">Gamewwek Top Facts &
                    Stats</a></li>
            <li><a href="{{ path('article_homepage',{'categorie':10}) }}">Fixture Analysis</a></li>
        </ul>
    {% endblock %}
    {% block fantasyarticles %}
        <li>
            <div class="single_iteam">
                <a ... href="{{ path('article_show',{'id': article.id }) }}"> <img
                            src="{{ vich_uploader_asset(article, 'imageFile') }}"
                            alt=""></a>
                <div class="slider_article">
                    <h2><a class="slider_tittle"
                           href="{{ path('article_show',{'id': article.id }) }}">{{ article.titre }} </a></h2>
                </div>
            </div>
        </li>
    {% endblock %}
    {% block link %}
        <div class="social_area">
            <ul class="social_nav">
                <li class="facebook"><a href="https://www.facebook.com/FPL.Updates.Tips/"></a></li>
                <li class="twitter"><a href="https://twitter.com/FPLUpdates_Tips"></a></li>
                <li class="youtube"><a href="https://www.youtube.com/channel/UCJcS0Lq04oMnhECIzZYNtxg"></a></li>
                <li class="mail"><a href="#"></a></li>
            </ul>
        </div>
    {% endblock %}
    {% block footer %}
{#
        <div class="col-md-12"  style="text-align:center;">
            <a href="https://goo.gl/YAJJN6">  <button class="button button33">Digital</button></a>
            <a href="https://goo.gl/VHAXmW"> <button class="button button33">Print</button>
            </a>
            <br>
            <br>
            <a href="https://goo.gl/YAJJN6"> <img width="100%" src="{{ asset('bundles/article/images/ffmag/c9.png') }}"></a>
            <br>
            <br>
            <br>
        </div>
        #}
        <footer id="footer">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInLeftBig">
                            <h2>FPL Updates & Tips Partners</h2>
                            <div>
                                <a href="https://www.facebook.com/World.Of.Fantasy.Arabic">
                                    <img
                                            src="{{ asset('bundles/article/images/partner1.png') }}" alt=""
                                            height="100"
                                            width="100">
                                </a>
                            </div>
                            <div>
                                <a href="https://goo.gl/YAJJN6">
                                    <img
                                            src="{{ asset('bundles/article/images/partner2.jpg') }}" alt=""
                                            height="100"
                                            width="100">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInDown">
                            <h2>Categories</h2>
                            <ul class="tag_nav">
                                <li><a href="{{ path('article_homepage',{'categorie':1}) }}">Captain Choice</a></li>
                                <li><a href="{{ path('article_homepage',{'categorie':2}) }}">Top 4 Players To Watch</a>
                                </li>
                                <li><a href="{{ path('article_homepage',{'categorie':3}) }}">Top 3 Differentials</a>
                                </li>
                                <li><a href="{{ path('article_homepage',{'categorie':4}) }}">Team & Players Top
                                        Facts</a></li>
                                <li><a href="{{ path('article_homepage',{'categorie':5}) }}">Pre-Season</a></li>
                                <li><a href="{{ path('article_homepage',{'categorie':6}) }}">Injury Updates</a></li>
                                <li><a href="{{ path('article_homepage',{'categorie':7}) }}">FPL Clean Sheets</a></li>
                                <li><a href="{{ path('article_homepage',{'categorie':9}) }}">Others</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInRightBig">
                            <h2>Contact</h2>
                            <p>Email Us : fpl.updates.tips@gmail.com</p>
                            <a href="https://www.facebook.com/FPL.Updates.Tips/" class="fa fa-facebook"></a>
                            <a href="https://twitter.com/FPLUpdates_Tips" class="fa fa-twitter"></a>
                            <a href="https://www.instagram.com/fplupdates_tips/" class="fa fa-instagram"></a>
                            <a href="https://www.youtube.com/channel/UCJcS0Lq04oMnhECIzZYNtxg"
                               class="fa fa-youtube"></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p class="copyright">© Copyright Fantasy Premier League : Updates & Tips 2017. All rights reserved.</p>

            </div>
        </footer>
    {% endblock %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
