{% extends 'base.html.twig' %}
{% block body %}
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <header id="header">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_top">
                        <div class="header_top_left">
                            {# <ul class="top_nav">
                                 <li><a href="{{ path('article_homepage') }}"></a></li>
                                 <li><a href="#">About</a></li>
                                 <li><a href="#">Contact</a></li>
                             </ul>
                             #}
                            {{ knp_menu_render('FrontendBundle:Builder:mainMenu') }}
                        </div>
                        {% block login %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_bottom">

                        <div><a href="#">
                                <img src="{{ asset('bundles/article/newlogos/generals.jpg') }}" alt=""
                                     width="100%"></a></div>
                    </div>
                </div>
            </div>
        </header>
        <section id="navArea">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav main_nav">
                        <li class="active"><a href="{{ path('article_homepage') }}"><span
                                        class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a>
                        </li>

                        <li class="dropdown">
                            {% block dropmenu %}
                                {{ parent() }}
                            {% endblock %}
                        </li>

                        <li><a href="{{ path('article_homepage',{'categorie':5}) }}">Pre-Season</a></li>
                        <li><a href="{{ path('article_homepage',{'categorie':6}) }}">Injury Updates</a></li>
                        <li><a href="{{ path('article_homepage',{'categorie':7}) }}">FPL Clean Sheets</a></li>
                        <li><a href="{{ path('article_homepage',{'categorie':8}) }}">EPL Teams Current Lineups</a></li>
                        <li><a href="{{ path('article_homepage',{'categorie':9}) }}">Others</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                aria-expanded="false">Join Our Leagues </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://goo.gl/KTBFt8">Join Our Private League</a></li>
                                <li><a href="https://goo.gl/URVqv9">Join Our Head to Head League</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </section>

        <section id="newsSection">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="latest_newsarea"><span>FPL Latest News</span>
                        <ul id="ticker01" class="news_sticker">
                            {% block news %}
                                {{ parent() }}
                            {% endblock %}
                        </ul>
                        {% block link %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <section id="sliderSection">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="slick_slider">
                        {% set index = 1 %}
                        {% for article in articles  if index <= 9 %}
                            <div class="single_iteam"><a href="#">
                                    <a ... href="{{ path('article_show',{'id': article.id }) }}"> <img
                                                src="{{ vich_uploader_asset(article, 'imageFile') }}" alt=""></a>
                                    <div class="slider_article">
                                        <h2><a class="slider_tittle"
                                               href="{{ path('article_show',{'id': article.id }) }}">{{ article.titre }}</a>
                                        </h2>
                                        <p>
                                            {{ article.description | striptags | slice(0, 200) }} ...
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% set index = index + 1 %}
                        {% endfor %}


                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="latest_post">
                        <a class="twitter-timeline" data-width="100%" data-height="480"
                           href="https://twitter.com/FPLUpdates_Tips">Tweets by FPLUpdates_Tips</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </section>

        <div class="single_post_content">
            {#<div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- annonce cover -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3916336310288272"
                     data-ad-slot="9624497135"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            #}
            <h2><span>Fantasy Articles</span></h2>
            <ul class="photograph_nav  wow fadeInDown">
                {% set index = 1 %}
                {% for article in articles if index <= 9  %}
                    {% block fantasyarticles %}
                        {{ parent() }}
                    {% endblock %}
                    {% set index = index + 1 %}

                {% endfor %}

            </ul>
            {#
            <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- annonce cover -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3916336310288272"
                     data-ad-slot="9624497135"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            #}
        </div>
        <div class="single_post_content">
            <div class="row">
                <br><br>
                <div class="col-md-6">

                    <iframe frameborder="0" scrolling="no" width="100%" height="600"
                            src="https://www.fctables.com/england/premier-league/iframe/?type=table&lang_id=2&country=67&template=10&team=&timezone=Africa/Lagos&time=24&po=1&ma=1&wi=1&dr=1&los=1&gf=1&ga=1&gd=1&pts=1&ng=1&form=1&width=520&height=700&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&scfs=22&scfc=333333&scb=1&sclg=1&teamls=80&ths=1&thb=1&thba=FFFFFF&thc=000000&bc=dddddd&hob=f5f5f5&hobc=ebe7e7&lc=333333&sh=1&hfb=1&hbc=3bafda&hfc=FFFFFF"></iframe>
                    <div style="text-align:center;"></div>

                </div>
                <div class="col-md-6">
                    <div class="col-md-12">

                        <iframe frameborder="0" scrolling="yes" width="100%" height="350"
                                src="https://www.fctables.com/england/premier-league/iframe/?type=league-scores&lang_id=2&country=67&template=10&team=180231&timezone=Africa/Lagos&time=24&width=520&height=440&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&scoreb=f4454f&scorefc=FFFFFF&sgdcoreb=8f8d8d&sgdcorefc=FFFFFF&sh=1&hfb=1&hbc=3bafda&hfc=FFFFFF"></iframe>
                        <div style="text-align:center;"></div>
                    </div>
                    <div class="col-md-12">
                        <iframe frameborder="0" scrolling="yes" width="100%" height="250"
                                src="https://www.fctables.com/england/premier-league/iframe=/?type=top-scorers&lang_id=2&country=67&template=10&team=&timezone=Africa/Lagos&time=24&limit=10&ppo=1&pte=1&pgo=1&pma=1&pas=1&ppe=1&width=520&height=700&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&ths=1&thb=1&thba=FFFFFF&thc=000000&bc=dddddd&hob=f5f5f5&hobc=ebe7e7&lc=333333&sh=1&hfb=1&hbc=3bafda&hfc=FFFFFF"></iframe>
                        <div style="text-align:center;"></div>
                    </div>

                </div>
            </div>
            <h2><span>Teams Suggested By FPL Updates & Tips</span></h2>
            <ul class="photograph_nav  wow fadeInDown">
                {% set index = 1 %}
                {% for team in teams  if index <= 6 %}
                    <li>
                        <div class="photo_grid">
                            <figure class="effect-layla">
                                <a class="fancybox-buttons" data-fancybox-group="button"
                                   href="{{ vich_uploader_asset(team, 'imageFile') }}" title="{{ team.titre }}"> <img
                                            src="{{ vich_uploader_asset(team, 'imageFile') }}" alt=""/></a>
                            </figure>
                        </div>
                    </li>
                    {% set index = index+ 1 %}

                {% endfor %}
            </ul>
        </div>


        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/article/assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/wow.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/slick.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/jquery.li-scroller.1.0.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/jquery.newsTicker.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/custom.js') }}"></script>
    {% endblock %}