{% extends 'base.html.twig' %}
{% block title %}
    {{ article.titre }}
{% endblock %}
{% block body %}

    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <header id="header">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_top">
                        <div class="header_top_left">
                            {{ knp_menu_render('FrontendBundle:Builder:mainMenu') }}
                        </div>
                        {% block login %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_bottom">

                        <div>
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- annonce cover -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-3916336310288272"
                                 data-ad-slot="9624497135"
                                 data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>
                </div>
        </header>
        <section id="navArea">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav main_nav">
                        <li class="active"><a href="{{ path('article_homepage') }}"><span
                                        class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a>
                        </li>

                        <li class="dropdown">
                            {% block dropmenu %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">FPL Updates & Tips Exclusive </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('article_homepage',{'categorie':1}) }}">Captain Choice</a></li>
                                    <li><a href="{{ path('article_homepage',{'categorie':2}) }}">TOP 4 Players To
                                            Watch</a>
                                    </li>
                                    <li><a href="{{ path('article_homepage',{'categorie':3}) }}">TOP 3 Differentials</a>
                                    </li>
                                    <li><a href="{{ path('article_homepage',{'categorie':4}) }}">Gamewwek Top Facts &
                                            Stats</a></li>
                                    <li><a href="{{ path('article_homepage',{'categorie':10}) }}">Fixture Analysis</a>
                                    </li>
                                </ul>
                            {% endblock %}
                        </li>

                        <li><a href="{{ path('article_homepage',{'categorie':5}) }}">Pre-Season</a></li>
                        <li><a href="{{ path('article_homepage',{'categorie':6}) }}">Injury Updates</a></li>
                        <li><a href="{{ path('article_homepage',{'categorie':7}) }}">FPL Clean Sheets</a></li>
                        <li><a href="{{ path('article_homepage',{'categorie':8}) }}">EPL Teams Current Lineups</a></li>
                        <li><a href="{{ path('article_homepage',{'categorie':9}) }}">Others</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                aria-expanded="false">Join Our Leagues </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://goo.gl/KTBFt8">Join Our Private League</a></li>
                                <li><a href="https://goo.gl/URVqv9">Join Our Head to Head League</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </section>
        <section id="newsSection">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="latest_newsarea"><span>FPL Latest News</span>
                        <ul id="ticker01" class="news_sticker">
                            {% block news %}
                                {{ parent() }}
                            {% endblock %}
                        </ul>
                        {% block link %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <section id="contentSection">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="left_content">
                        <div class="single_page">
                            <ol class="breadcrumb">
                                <li><a href="{{ path('frontend_homepage') }}">Home</a></li>
                                <li><a href="{{ path('article_homepage',{'categorie': article.categorie}) }}">
                                        {% if article.categorie == 1 %}
                                            Captain Choice
                                        {% elseif article.categorie == 2 %}
                                            TOP 4 Players To Watch
                                        {% elseif article.categorie == 3 %}
                                            TOP 3 Differentials
                                        {% elseif article.categorie == 4 %}
                                            Gamewwek Top Facts & Stats
                                        {% elseif article.categorie == 5 %}
                                            Price Changes
                                        {% elseif article.categorie == 6 %}
                                            Injury Update
                                        {% elseif article.categorie == 7 %}
                                            FPL Clean Sheets
                                        {% elseif article.categorie == 8 %}
                                            EPL Teams Current Lineups
                                        {% elseif article.categorie == 9 %}
                                            Others
                                        {% elseif article.categorie == 10 %}
                                            Fixture Analysis
                                        {% endif %}</a></li>

                            </ol>
                            <h1>{{ article.titre }}</h1>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i>{{ article.utilisateur }}
                                </a> <span><i
                                            class="fa fa-calendar"></i>{{ article.dateCreation|date('Y-m-d') }}</span>
                                <a href="{{ path('article_homepage',{'categorie': article.categorie}) }}"><i
                                            class="fa fa-tags"></i>
                                    {% if article.categorie == 1 %}
                                        Captain Choice
                                    {% elseif article.categorie == 2 %}
                                        TOP 4 Players To Watch
                                    {% elseif article.categorie == 3 %}
                                        TOP 3 Differentials
                                    {% elseif article.categorie == 4 %}
                                        Gamewwek Top Facts & Stats
                                    {% elseif article.categorie == 5 %}
                                        Price Changes
                                    {% elseif article.categorie == 6 %}
                                        Injury Update
                                    {% elseif article.categorie == 7 %}
                                        FPL Clean Sheets
                                    {% elseif article.categorie == 8 %}
                                        EPL Teams Current Lineups
                                    {% elseif article.categorie == 9 %}
                                        Others
                                    {% elseif article.categorie == 10 %}
                                        Fixture Analysis
                                    {% endif %}
                                </a>
                            </div>
                            <div class="single_page_content">
                                <img class="img-center"
                                     src="{{ vich_uploader_asset(article, 'imageFile') }}"
                                     alt="">
                                <blockquote>
                                    <script async
                                            src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <ins class="adsbygoogle"
                                         style="display:block; text-align:center;"
                                         data-ad-format="fluid"
                                         data-ad-layout="in-article"
                                         data-ad-client="ca-pub-3916336310288272"
                                         data-ad-slot="4682473281"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>

                                </blockquote>
                                <p>{{ article.description|nl2br }}</p>
                                {% for paragrap in article.paragraphs %}
                                    <h3 style="color: black">{{ paragrap.title }}</h3>

                                    {% if paragrap.image %}
                                        {% media paragrap.image, 'big' %}
                                    {% endif %}
                                    {% if paragrap.video %}
                                        <iframe width="100%" height="315"
                                                src="//www.youtube.com/embed/{{ paragrap.video.providerreference }}?{{ media.player_url_parameters }}"
                                                frameborder="{{ paragrap.video.border }}"
                                                {% if paragrap.video.allowFullScreen %}
                                        allowfullscreen
                                                {% endif %}>

                                        </iframe>
                                    {% endif %}
                                    </iframe>
                                    <p>{{ paragrap.description|nl2br }}</p>
                                {% endfor %}
                                <blockquote>
                                    <script async
                                            src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <ins class="adsbygoogle"
                                         style="display:block; text-align:center;"
                                         data-ad-format="fluid"
                                         data-ad-layout="in-article"
                                         data-ad-client="ca-pub-3916336310288272"
                                         data-ad-slot="4682473281"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>

                                </blockquote>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {#width="560" height="315"
                                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/GxYcRh_v3rI"
                                            frameborder="0" allowfullscreen></iframe>
                                         #}
                                    {% if media %}
                                        <iframe width="100%" height="315"
                                                src="//www.youtube.com/embed/{{ media.providerreference }}?{{ media.player_url_parameters }}"
                                                frameborder="{{ media.border }}"{% if media.allowFullScreen %} allowfullscreen{% endif %}></iframe>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="related_post">
                                <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
                                <ul class="spost_nav wow fadeInDown animated">
                                    {% for articl in articles %}
                                        {% if loop.index <= 3 %}
                                            <li>
                                                <div class="media"><a class="media-left"
                                                                      href="{{ path('article_show',{'id': articl.id }) }}">
                                                        <img
                                                                src="{{ vich_uploader_asset(articl, 'imageFile') }}"
                                                                alt=""> </a>
                                                    <div class="media-body"><a class="catg_title"
                                                                               href="{{ path('article_show',{'id': articl.id }) }}">
                                                            {{ articl.titre }}</a></div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <aside class="right_content">
                        <div class="single_sidebar">
                            <h2><span>Popular Articles</span></h2>
                            <ul class="spost_nav">
                                {% set arraycategorie = [] %}
                                {% for article in articles if (article.categorie <= 4 or article.categorie == 9 or article.categorie == 10 ) and article.categorie > 0 and article.categorie not in arraycategorie and arraycategorie|length <= 6 %}
                                    {% set arraycategorie = arraycategorie|merge( [article.categorie]  ) %}
                                    <li>
                                        <div class="media wow fadeInDown">
                                            <a href="{{ path('article_show',{'id': article.id }) }}" class="media-left">
                                                <img alt="" src="{{ vich_uploader_asset(article, 'imageFile') }}"> </a>
                                            <div class="media-body"><a
                                                        href="{{ path('article_show',{'id': article.id }) }}"
                                                        class="catg_title"> {{ article.titre }} </a></div>
                                        </div>
                                    </li>
                                {% endfor %}
                                <div class="single_sidebar wow fadeInDown">
                                    <h2><span>Sponsor</span></h2>
                                    <script async
                                            src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- annonce sponsor -->
                                    <ins class="adsbygoogle"
                                         style="display:block"
                                         data-ad-client="ca-pub-3916336310288272"
                                         data-ad-slot="8575973492"
                                         data-ad-format="auto"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>


                                <iframe frameborder="0" scrolling="no"
                                        width="100%" height="550"
                                        src="https://www.fctables.com/england/premier-league/iframe/?type=table&lang_id=2&country=67&template=10&team=&timezone=Africa/Lagos&time=24&po=1&ma=0&wi=0&dr=0&los=0&gf=0&ga=0&gd=0&pts=1&ng=0&form=0&width=100%&height=550&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&scfs=22&scfc=333333&scb=1&sclg=1&teamls=80&ths=1&thb=1&thba=FFFFFF&thc=000000&bc=dddddd&hob=f5f5f5&hobc=ebe7e7&lc=333333&sh=1&hfb=1&hbc=3bafda&hfc=FFFFFF"></iframe>
                                <div style="text-align:center;"></div>
                                <script type="text/javascript">
                                    (function (d, s, id) {
                                        var js,
                                            fjs = d.getElementsByTagName(s)[0],
                                            r = Math.floor(new Date().getTime() / 1000000);
                                        if (d.getElementById(id)) {
                                            return;
                                        }
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.async = 1;
                                        js.src = "https://www.opinionstage.com/assets/loader.js?" + r;
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'os-widget-jssdk'));
                                </script>
                                <div class="os_poll -align-center col-lg-12 col-md-12 col-sm-12"
                                     data-path="/polls/2460456"></div>


                            </ul>
                        </div>
                        <div class="single_sidebar">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#category" aria-controls="home"
                                                                          role="tab" data-toggle="tab">Category</a></li>
                                <li role="presentation"><a href="#video" aria-controls="profile" role="tab"
                                                           data-toggle="tab">Video</a></li>
                                <li role="presentation"><a href="#comments" aria-controls="messages" role="tab"
                                                           data-toggle="tab">FPL Tips</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="category">
                                    <ul>
                                        <li class="cat-item"><a href="{{ path('article_homepage',{'categorie':1}) }}">Captain
                                                Choice</a></li>
                                        <li class="cat-item"><a href="{{ path('article_homepage',{'categorie':2}) }}">TOP
                                                4 Players To Watch</a></li>
                                        <li class="cat-item"><a href="{{ path('article_homepage',{'categorie':4}) }}">TOP
                                                3 Differentials</a></li>
                                        <li class="cat-item"><a href="{{ path('article_homepage',{'categorie':3}) }}">Gamewwek
                                                Top Facts & Stats</a></li>
                                        <li class="cat-item"><a href="{{ path('article_homepage',{'categorie':5}) }}">Price
                                                Changes</a></li>
                                        <li class="cat-item"><a href="{{ path('article_homepage',{'categorie':6}) }}">Injury
                                                Updates</a></li>
                                        <li class="cat-item"><a href="{{ path('article_homepage',{'categorie':7}) }}">FPL
                                                Clean Sheets</a></li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="video">
                                    <div class="vide_area">
                                        {% if media %}
                                            <iframe width="100%" height="250"
                                                    src="//www.youtube.com/embed/{{ media.providerreference }}?{{ media.player_url_parameters }}"
                                                    frameborder="{{ media.border }}"{% if media.allowFullScreen %} allowfullscreen{% endif %}></iframe>
                                        {% endif %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="comments">
                                    <ul class="spost_nav">
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <div class="media-body"><a class="catg_title"> Don't chose too many
                                                        differentials! Make sure to include some safe choices! </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <div class="media-body"><a class="catg_title"> Try not to Spend more
                                                        than £9m on GK!
                                                        Remember that you will play only 1 of them! </a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <div class="media-body"><a class="catg_title"> Don't buy a player for a
                                                        single Gameweek! Always plan </a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <div class="media-body"><a class="catg_title"> You want players who can
                                                        score, assist or get cleansheets!
                                                        Please don't waste your budget on defensive midfielders </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media wow fadeInDown">
                                                <div class="media-body"><a
                                                            href="{{ path('article_homepage',{'categorie':1}) }}"
                                                            class="catg_title"> Never captain defenders and goalkeeprs!
                                                        Always Follow Our Captain Choices </a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single_sidebar wow fadeInDown">
                            <h2><span>Sponsor</span></h2>
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- annonce sponsor -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-3916336310288272"
                                 data-ad-slot="8575973492"
                                 data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                        <div class="single_sidebar wow fadeInDown">
                            <h2><span>Links</span></h2>
                            <ul>
                                <li class="facebook"><a
                                            href="https://www.facebook.com/groups/FPLUpdates.Tips/?ref=bookmarks">Facebook
                                        Group</a></li>
                                <li><a href="#">About Us</a></li>
                                <li class="mail"><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        {% block footer %}
            {{ parent() }}
        {% endblock %}

    </div>
{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/article/assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/wow.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/slick.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/jquery.li-scroller.1.0.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/jquery.newsTicker.min.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('bundles/article/assets/js/custom.js') }}"></script>
    {% endblock %}